* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: roboto;
}

/* Navigation */
nav {
  background-color: #33292a;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
}
nav li {
  padding: 10px;
  text-align: center;
  font-weight: bold;
  font-size: 1rem;
}
nav a {
  color: white;
  text-decoration: none;
}

.hamburger-menu {
  width: 35px;
  height: 35px;
  margin-left: auto;
  margin-right: 20px;
  margin-bottom: 5px;
  margin-top: 5px;
  cursor: pointer;
  display: none;
}

.hamburger-menu img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 768px) {
  .navigation-item {
    display: none;
  }
  .hamburger-menu {
    display: block;
    margin-bottom: 0px;
  }
}

/* Hero Section */
.hero {
  position: relative;
  height: 30%;
}
.hero-section {
  color: white;
  font-size: 5rem;
  width: 700px;
  position: absolute;
  bottom: 10%;
  right: 5%;
  font-weight: bold;
  text-align: right;
}
.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 768px) {
  .hero-section {
    font-size: 2rem;
  }
}

/* About us Section */
.about-us-wrapper {
  display: flex;
  gap: 20px;
  flex-direction: row;
  align-items: stretch;
  margin: 10%;
}
.about-us-image {
  background-image: url(/projekt-responzivni-stranka/ukol/images/anneliese-phillips-uv4-vl3liKM-unsplash.jpg);
  background-size: cover;
  background-position: center;
  width: 50%;
  min-height: 350px;
  border-radius: 5px;
}

.about-us-text {
  width: 50%;
  font-size: 1.3rem;
  text-align: justify;
}

@media (max-width: 768px) {
  .about-us-wrapper {
    flex-direction: column;
    margin: 20px auto;
    align-items: center;
  }
  .about-us-image {
    width: 90%;
  }
  .about-us-text {
    width: 90%;
  }
}

/* What we do section */
.what-we-do-container {
  background-color: #33292a;
  padding: 5%;
}

.what-we-do-text p {
  text-align: center;
  color: white;
  margin: 5%;
  font-size: 1.3rem;
}
.what-we-do-text h2 {
  color: white;
  text-align: center;
  margin-bottom: 20px;
  font-size: 2rem;
}
.what-we-do-icons {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
}

.img-icon {
  max-width: 200px;
  flex: 1 1 auto;
  width: 7%;
  margin: 0 5%;
}

.img-icon img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.img-text {
  color: white;
  font-size: 1.3rem;
  margin: 30% 0 50%;
  font-weight: bold;
  text-align: center;
}

@media (max-width: 768px) {
  .what-we-do-icons {
    flex-direction: column;
  }
  .img-icon {
    width: 15%;
    height: auto;
  }
}

/* Our Trips Section */

.our-trips-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
  justify-items: center;
  margin: 10%;
}

.our-trips-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.item5 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 1.3rem;
  background-color: rgb(206, 206, 206);
  width: 100%;
  border-radius: 5px;
  grid-column: span 1;
  grid-row: span 1;
}

@media (max-width: 768px) {
  .our-trips-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .item5 {
    height: 150px;
    font-size: 2rem;
  }
}

/* Contact-us section */
.contact-us-container {
  background-color: #33292a;
  color: white;
  display: flex;
  padding: 5%;
}

.contact-us-content {
  margin: auto;
  display: flex;
  gap: 20px;
  flex-direction: row;
}
.header-contact-us {
  text-align: left;
  flex: 1;
  margin-left: calc(10% - 30px);
}
.header-contact-us h2 {
  font-size: 40px;
}

.right-block {
  flex: 2;
  font-size: 1rem;
  margin-right: calc(10% - 30px);
}

.top-button-text {
  margin: 20px 0;
}

.contact-us-button {
  background-color: white;
  width: fit-content;
  border-radius: 5px;
}
.contact-us-button a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 10px 20px;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

@media (max-width: 768px) {
  .contact-us-content {
    flex-direction: column;
    text-align: left;
  }
  .header-contact-us,
  .contact-us-text,
  .contact-us-button {
    margin: 0 7%;
  }
}

/* Review section */
.reviews {
  padding: 10% 0;
  max-width: 1200px;
  margin: auto;
}
h2 {
  text-align: center;
  padding-bottom: 20px;
}
.description {
  text-align: center;
  max-width: 60%;
  margin: auto;
}
.review-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 50px;
  justify-content: space-evenly;
  align-items: center;
  gap: 30px;
}
@media (max-width: 768px) {
  .review-wrapper {
    flex-direction: column;
  }
}

.review-card {
  max-width: 300px;
  text-align: center;
}
.review-card img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}
.text-review-card {
  margin-top: 10px;
}
.text-review-name {
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: bold;
}

/* Gallery section */
.gallery-container {
  display: flex;
  flex-wrap: wrap;
}
.gallery-img {
  flex: 1 1 50%;
  box-sizing: border-box;
}
.gallery-img img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
@media (max-width: 768px) {
  .gallery-img {
    flex: 1 1 100%;
  }
}

/* Footer section */
.footer {
  padding: 5%;
  background-color: #33292a;
  text-align: center;
  color: white;
}
.footer a {
  text-decoration: none;
  color: white;
}

.ID {
  margin-top: 20px;
}
